.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-container button {
    color: white;
    background-color: black;
    border: 2px solid white;
    width: 7rem;
    height: 3rem;
    font-family: monospace;
    font-size: 1rem;
}

.game-container button:hover {
    filter: brightness(0.7);
    cursor: pointer;
}

.gametext {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    font-family: monospace;
    font-size: 1.5rem;
    background-color: black;
    border: 2px solid white;
    width: 10rem;
    height: 4rem;
}

.game-grid {
    /* height: 600px;
    width: 600px; */
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.game-grid div img {
    width: 80%;
    
}
