.card {
    
position: relative;
cursor: pointer;
}

.card .front{

    display: flex;
    justify-content: center;
    position: absolute;
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    /* backface-visibility: hidden; */
    border-radius: 50%;
}


/* .card .front.matched{
    background-color:  #70ff6b; 
} */

.flipped .front {
    width: 100%;
  height: 100%;
  padding: 20px;
    transform: rotateY(0deg);
    transition-delay: 0.2s;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 50%;
    background-image: url('/public/images/card_back.png');
    background-size: cover;
}


.card .back{
    -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  /* padding: 20px; */
  background-image: url('/public/images/card_back.png');
  background-size: cover;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}
